@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
  }
/* .hr{
    visibility: hidden;
} */
 body{
    background-color:#F7F7F7 ;
 }
.common{
    background-color: #F7F7F7 ;
    max-width: 1160px;
    margin: 0 auto;
    
}
.nava{
    border-top: 5px solid black;
}
.flex{
    display: flex;
}
main > section{
    margin-top: 50px;
}
.navp{
    display: flex;
}
.ftitle{
    font-weight: bold;
    font-size: 2rem;
    margin: auto;
    margin-top: 15px;
}
nav{
    margin-top: 20px;
}
.navitem{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 32px;
}
.btn-1{
    background-color: orange;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    padding: 10px 60px;
}
nav a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
}
#i-1{
    color: #FEA301;
}
#i-2{
    color: #01ACFD;
}
#i-3{
    color: #05D4DF;
}
#i-4{
    color: #5D58EF;
}

.banner{

    display: flex;
    gap: 50px;
}
/* .imgb{
    width: 100%;
} */
.b-des{
    margin-top: 120px;
}
.b-title{
    font-weight: bold;
    font-size: 3.25rem;
}
#ooo{
    color:orange;
}
#oo{
    color:#01ACFD ;
}
.b-des-p{
    font-size: 1.25rem;
   
}
.btn-b{
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    padding: 10px 47px;
    background-color: #111111;
}
.cti{
    font-weight: bold;
    font-size: 1.5rem;
}
#a1{
    font-weight: bold;
    text-decoration: none;
    color: #64C8FF;
    
}
#a2{
    font-weight: bold;
    text-decoration: none;
    color: #F0AA00;
    
}
#a3{
    font-weight: bold;
    text-decoration: none;
    color: #8700FF;
   
}
.main section{
    background-image: url('../assets/bg.png');
    background-repeat: repeat;
}
.s-curriculum{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 50px;
}
.card-c{
    
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05) ;
    padding-top: 52px;
    padding-bottom: 52px;
    margin-top: 5rem;
    background-color: #FFFFFF;
    background: linear-gradient(180deg, #F2E8FF, #FFFFFF);
    border: 1px solid #F2E8FF;
    
}
.c-des{
    color: rgba(128, 128, 128, 1);
}
.card-btn{
    
    display: flex;
    justify-content: space-between;
    
}
.btn-card{
    background-color: #FEA301;
    width: 60px;
    border-radius: 30px;
    border: none;
    height: 60px;

    
}
.stories{
    display: flex;
    gap: 18px;
    
    background-image: url('../assets/bg.png');
    
    
}
.v-card{
    width: 50%;
}
.f-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
.a-card{
    max-width: 291px;
    max-height: 301px;
    border-radius: 16px;
    background-color: #FFFFFF;
    
}
.ctitle{
    text-align: center;
    font-weight: bold;
    
    padding-left:  25px;
    padding-right: 30px;
    padding-bottom: 28px;
}
.iii{
    margin: 0;
    padding: 0;
    border-radius: 16px  16px 0 0;
    
    
}
.btn-common{
    padding: 10px 18px;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 47px;
    border: none;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;    
    font-style: normal;
    background-color: #95B226;
    color: #FFFFFF;
    /* margin-bottom: 19px; */
    transform: translateX(25px) translateY(-22px);

}
#btn-u{
    background-color: #5D58F0;
}
.btn-common-o{
    border-radius: 47px;
    background-color: #3CD8E8;
}
.v-card{
    background-color: #FFFFFF;
   
    border-radius: 16px;
}
#button{
    margin-top: 120px;
    border-radius: 12px;
    background-color: #111111;
    border: none;
    height: 50px;
    padding: 10px 61px;
    color: #FFFFFF;
    
}
.footer{
    width: 100%;
    background-color: #01ACFD;
    margin-top: 60px;
    max-width: 100%;
    max-height: 100%;
    
}
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    
    
}
.b{
    display: flex;
    justify-content: space-between;
    
}
.i-container{
    
    
}
.f-title{
    font-size: 2.8rem;
    font-weight: bold;
    color: #FFFFFF;

}
.f-title2{
    font-weight: bold;
    color: #FFFFFF;

}
.f-title3{
    font-weight: bold;
    color: #FFFFFF;

}
.links{
    display: flex;
    
    flex-direction: column;
    
    text-decoration: none;
    color: #FFFFFF;
}
.last{
    display: flex;
    gap: 10px;
}


@media screen and (max-width:576px) {
    .navitem , .btc , .v-card , .mark{
        display: none;
    }
    .b-title{
        text-align: center;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .imgb{
        width: 100%;
       
    }
    .b-des{
        text-align: center;
        margin-top: 20px;
    }
    .s-curriculum{
        grid-template-columns: repeat(1,1fr);
    }
    .card-c{
        margin-top: 5px;
        width: 100%;
        
    }
    .f-card{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        width: 100%;
        height: 100%;
        
        
    }
    
    .a-card{
        width: auto;
    }
    .footer{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        justify-items: center;
    }
}